.front-header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #67a4da !important;
}

.front-header-left {
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.front-header-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.front-header-left .title {
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.front-header-center {
    flex: 1;
}

.front-header-right {
    padding-right: 20px;
}

.main-content {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 100vh;
}

/*Element-Plus样式覆盖*/
.el-menu--horizontal {
    background-color: #67a4da !important;
    border: none !important;
    height: 60px;
}
.el-tooltip__trigger {
    outline: none;
}
.el-menu-item {
    color: #fff !important;
    background: none !important;
    border: none !important;
}
.el-menu-item:hover {
    color: #d6204b !important;
}
.el-menu-item.is-active {
    color: #d6204b !important;
    font-weight: 550;
    border-bottom: none;
}