<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarouselMapper">

    <select id="selectAll" resultType="com.example.entity.Carousel">
        select carousel.*, project.title as projectTitle from carousel
        left join project on carousel.project_id = project.id
        <where>
            <if test="id != null"> and carousel.id = #{id}</if>
            <if test="projectId != null"> and carousel.project_id = #{projectId}</if>
            <if test="projectTitle != null"> and project.title like concat('%', #{projectTitle}, '%')</if>
            <if test="img != null"> and carousel.img like concat('%', #{img}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Carousel">
        select * from `carousel`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `carousel`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Carousel" useGeneratedKeys="true" keyProperty="id">
        insert into `carousel`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="img != null">img,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="img != null">#{img},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Carousel">
        update `carousel`
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>